body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(/gambar/bg1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    justify-content: center;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-right: 80px;
    padding-left: 20px;
    font-size: 20px;
}

.logo img {
    height: 50px;
    width: auto;
}

.navbar ul {
    list-style: none;
    padding: 0;
    animation: transitionNav 2s;
}

@keyframes transitionNav {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.navbar ul li {
    display: inline;
    margin-left: 40px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover {
  border-bottom: 2px solid white;
}

.welcome {
    text-align: center;
    color: white;
    animation: transitionWel 2s;
}

@keyframes transitionWel {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.welcome h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

form {
    width: 50%;
    margin: 0 auto;
}

label {
    display: block;
    text-align: left;
    margin-top: 20px;
    color: white;
    font-size: 20px;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
}

input[type="submit"] {
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
    font-size: 16px;
    margin-top: 30px;
}

footer {
    margin: 50px auto;
}